body {
    background-color: #e7e7e7;
    padding: 0;
    margin: 0;
}

.content {
    background: #fff;
    margin: 0 auto;
    padding: 0px;
    width: 886px;
    border: 4px ridge rgba(111, 96, 51, 0.84);
    padding-bottom: 50px;
}

.header {
    background: black;
    height: 78px;
}

.title {
    padding: 20px 0 0 84px;
    font:
        bold 1.3em Arial,
        sans-serif;
    color: white;
}

.nav {
    background: black;
}

.nav ul {
    margin: 0;
    display: flex;
    list-style: none;
    padding: 0px 0 0 76px;
}

.nav li {
    color: #fff;
    background: #9e9e9e;
    margin: 0;
}

.nav a {
    float: left;
    display: block;
    color: #fff;
    padding: 5px 10px 5px 10px;
    background: #9e9e9e;
    text-decoration: none;

    font:
        0.7em Arial,
        sans-serif;
    line-height: 1.5em;
    font-weight: bold;
    transition: 0.3s;
}

.nav a:hover {
    background: black;
    transition: 0.3s;
}

.main__content {
    padding: 0px 20px 0px 5px;
    width: 80%;
    margin: auto;
}

.main__content h2 {
    color: #46574d;
    font:
        bold 1.6em Arial,
        sans-serif;
}

.main__content p {
    font:
        0.75em Arial,
        sans-serif;
    margin: 0 0 0px 0;
    line-height: 1.5em;
}

.main__content a {
    color: #46574d;
    font:
        0.8em Arial,
        sans-serif;
    line-height: 1.5em;
}

.structure a {
    font-size: 0.85em;
}

.contacts span {
    font-weight: bold;
}

.zakupki img {
    width: 100%;
}

.contact__me form {
    display: flex;
}

.contact__me input {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;

    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition:
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
}

.contact__me button {
    text-decoration: none;
    color: #6b5770;
    height: 100%;
    display: inline-block;
    margin-left: 5px;
    border: 1px solid;
    position: relative;
    z-index: 0;
    border-radius: 5px;
    box-sizing: border-box;

    outline: none;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    transition: 0.3s;
}

.contact__me button:hover {
    color: white;
    background: black;
}

.thanks__container {
    margin: auto;
    text-align: center;
}

.thanks__container p {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    color: #000000;
    font-size: 20px;
}

.thanks__container a {
    font-family: impact, sans-serif;
    color: rgba(111, 96, 51, 0.84);
    font-size: 20px;
    transition: 0.3s;
    text-decoration: none;
}

.thanks__container a:hover{
    transition: 0.3s;
    text-decoration: underline;
    color: rgba(28, 106, 31, 0.84);
}
