body {
    background-color: #e7e7e7;
    padding: 0;
    margin: 0;
}

.content {
    background: #fff;
    margin: 0 auto;
    padding: 0px;
    width: 886px;
    border: 4px ridge rgba(111, 96, 51, 0.84);
    padding-bottom: 50px;
}

.header {
    background: url(img/header.jpg);
    background-position-x: 67%;
    background-repeat: no-repeat;
    background-size: 142%;

}

.title {
    padding: 10px 0 0 84px;
    font: bold 0.8em Verdana;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.title h1{
    line-height: 40px;
    text-shadow: 3px 3px 0px #000000;
}

.title img {
    width: 12%;
    padding-right: 13px;
}

.title span{
    
    display: inline;
    text-decoration: none; 
    border-bottom: 6px #fecb19 solid;
    
    
}

.nav {
}

.nav ul {
    margin: 0;
    display: flex;
    list-style: none;
    padding: 0px 0 0 76px;
}

.nav li {
    color: #fff;
    background: #9e9e9e;
    margin: 0;
}

.nav a {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 0.7em;

    float: left;
    display: block;
    color: #fff;
    padding: 6px 10px 5px 10px;
    background: #8d8d8d;
    text-decoration: none;

    line-height: 1.5em;
    font-weight: bold;
    transition: 0.3s;
}

.nav a:hover {
    background: black;
    color: yellow;
    transition: 0.3s;
}

.main__content {
    padding: 0px 20px 0px 5px;
    width: 80%;
    margin: auto;
}

.main__content h2 {
    color: #46574d;
    font-family: Tahoma, Geneva, sans-serif;
}

.main__content p {
    font: 0.75em;
    margin: 0 0 0px 0;
    line-height: 1.5em;
}

.main__content a {
    color: #46574d;
    font:
        0.8em Arial,
        sans-serif;
    line-height: 1.5em;

    text-decoration: none;
    color: #0f7afc;
    border-bottom: 1px solid;
    border-bottom-color: rgba(15, 122, 252, 0.2);
    transition: 0.2s;
}

.main__content a:hover {
    text-decoration: none;
    color: yellow;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.3);

    transition: 0.2s;
}

.structure a {
    font-size: 0.85em;
}

.contacts span {
    font-weight: bold;
}

.zakupki img {
    width: 100%;
}

.contact__me form {
    display: flex;
}

.contact__me input {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;

    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition:
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
}

.contact__me button {
    text-decoration: none;
    color: #6b5770;
    height: 100%;
    display: inline-block;
    margin-left: 5px;
    border: 1px solid;
    position: relative;
    z-index: 0;
    border-radius: 5px;
    box-sizing: border-box;

    outline: none;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    transition: 0.3s;
}

.contact__me button:hover {
    color: yellow;
    background: black;
}

.thanks__container {
    margin: auto;
    text-align: center;
}

.thanks__container p {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    color: #000000;
    font-size: 20px;
}

.thanks__container a {
    font-size: 20px;
    text-decoration: none;
    color: #0f7afc;
    border-bottom: 1px solid;
    border-bottom-color: rgba(15, 122, 252, 0.2);
    transition: 0.2s;
}

.thanks__container a:hover {
    text-decoration: none;
    color: yellow;
    border-bottom: 1px solid;
    border-bottom-color: rgba(15, 122, 252, 0.2);
    transition: 0.2s;
}

.thanks__container img {
    width: 50%;
    padding-top: 40px;
}
